doctype html
html
  head
    link(rel="stylesheet" href="https://unpkg.com/picnic")
    style.
      section { padding: 80px 0 80px }
  body
    nav
      a.brand(href="#")
        span Playing Cards Assets

    section
      h1 What is this?
      ul
        li Simple url playing card images
        li API for show images
    section
      h1 How?
      ul
        li
          b D C H S
          | for suits
        li
          b A 2 3 4 5 6 7 8 9 T J Q K
          | for numbers
        li
          | ex:
          a(href="/D/T") /D/T
          | for ten of diamonds

